.top-image{
    width:40px;
    height:40px;
    border-radius:20px;
    cursor:pointer;
}

.video-icon,
.grid-icon,
.bell-icon{
    width:40px;
    height:30px;
    cursor:pointer;
}

.youtube-icon{
    width:100px;
}

.search-icon{
    width:40px;
    height:20px;
    
}
.menu-icon{
    height:30px;
    width:40px;
    cursor:pointer;
}

.search-button{
    width:50px;
    height:35px;
    vertical-align:middle;
    border-color:rgb(122, 122, 122);
    margin-left:-1px;
    cursor:pointer;
}
.micro-button{
    vertical-align:middle;
    background-color:none;
    width:40px;
    height:40px;
    border-radius:20px;
    border:none;
    margin-left:20px;
    cursor:pointer;
}
.lol{
    display:flex;
    flex:1;
    border-style:solid;
    border-width:2px;
    border-color:gray;
    height:30px;
    border-radius:2px;
    box-shadow:inset 0px 1px 1px  rgba(0,0,0,0.25);
    width:0px;
}
.lol::placeholder{
    font-family:roboto,arial;
    font-size:15px;
    
}
.library-icon,
.yt-music,
.original-icon,
.sub-icon,
.explore-icon,
.home-icon{
    width:50px;
    margin-top:25px;
    margin-left:15px;
    height:40px;
    cursor:pointer;
}